#outerbox{
    width:500px;height:100px;border:1px solid #000;
}

#outerbox #inner1{
   position: relative;
    margin:inherit;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width:300px;height:75px;border:1px solid #000;
}

#outerbox #inner1 #inner2{
    position: relative;
    margin: auto;
    margin-top: 25%;
   width:150px;height:50px;border:1px solid #000; 
}